@model IEnumerable<EcommerceSite.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<div class="col-xs-8 col-xs-offset-2 text-left main-body user-home">
<div class="user-home__header">
    <h2>Welcome @User.Identity.Name</h2>
	@Html.ActionLink("Add Item", "AddItem")
</div>
@if (Model == null || Model.Count() == 0)
{

    <h1> No Items are Present</h1>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Desc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageURL)	
                </th>
                <th># of Buyers</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Desc)
                    </td>
                    <td>
                        <img class="item-list__picture" src="@item.ImageURL" alt="Image"/>
                    </td>
                    <td>
                        @if(item.Buyers == null)
                        {
                            <span>0</span>
                        }
                        else
                        {
                            @item.Buyers.Count
                        }  
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditItem", new { id=item.ItemNumber }) |
                        @Html.ActionLink("Details", "Details", new { id=item.ItemNumber }) |
                        @Html.ActionLink("Delete", "DeleteItem", new { id=item.ItemNumber })
                    </td>
                </tr>
            }
        </tbody>
    </table>  
}
</div>