@model Item
@{
    ViewData["Title"] = Model.Name;
}
<h1>@ViewBag.Message</h1>
<h2>@Model.Name only $@Model.Price</h2>
<img src="@Model.ImageURL" alt="Image" style="width:30%"/>
<p>@Model.Desc</p>
<form method="post">
    <button asp-for="name" type="submit" id="name" name="name" value="@Model.Name" class="btn btn-primary">Add to Cart</button>
</form>
